.container,
.calculator,
.numbers,
.operators {
    display:flex;align-items: center;
}


.container, .operators, .numbers{
    flex-direction: column;
    margin:20px;
}

.display{
    border: 1px solid black;
    padding:10px;
    min-width: 200px;
    min-height:30px;
    text-align: center;
}

.button{
    margin:3px;
}